<div class="genre-index">
	<br>
	<section><h1>ジャンル一覧追加</h1></section>

	<div class="form-box">
		<%= form_for(@genre) do |f| %>
	 		<p>ジャンル追加</p>
	    	<%= f.text_field :genre,class: "genre-form" %>
	    	<br>
	    	<p>優先度</p>
	    	<%= f.text_field :priority,class: "genre-form" %>
	    	<br>
	    	<%= f.submit '追加',class: "genre-submit" %>
		<% end %>
	</div>

	<table border="1">
		<thead>
			<tr>
				<th>ジャンル名</th> 
				<th>優先度</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @genres.each do |genre| %>
			<tr>
				<td><%= genre.genre %></td>
				<td><%= genre.priority %></td>
				<td><%= link_to "削除",genre_path(genre),method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>