<div class="admin_back_to_menu"><%= link_to "管理者メニュー画面へ", admintops_top_path %></div>
<div class="track_touroku clearfix">
	<%= nested_form_for(@track) do |f| %>

		<div class="track_fields">
			<%= f.fields_for :tasks do |track_f| %>
				<div class="track_number_box">
			    	<%= track_f.label :track_number,"トラックナンバー" %>
			    	<%= track_f.number_field :track_number,{}, {class:  "track_number"} %>
				</div>
				<div class="track_name_box">
			    	<%= track_f.label :track_title,"曲名",class: "track_name" %><br>
			    	<%= track_f.text_field :track_title,class: "track_name" %><br>
			    	<%= track_f.label :track_title_kana,"曲名かな",class: "track_name" %><br>
			    	<%= track_f.text_field :track_title_kana,class: "track_name" %>
				</div>
				<div class="artist_name_box">
			    	<%= track_f.label :artist_name,"アーティスト名",class: "artist_name" %><br>
			    	<%= track_f.text_field :artist_name,class: "artist_name" %><br>
			    	<%= track_f.label :artist_name_kana,"アーティスト名かな",class: "artist_name" %><br>
			    	<%= track_f.text_field :artist_name_kana,class: "artist_name" %>
				</div>
			<% end %>
		<%= f.link_to_add "Add task", :tasks %>
		</div>
	<% end %>
</div>