	 <div class="admin_top">
        <div class="admin_menu_box clearfix">

        	<div class="admin_log_out"><%= link_to "ログアウト" ,destroy_admin_session_path  ,method: :delete %></div>

            <div class="user_search_form"></div>
            <div><button class="user_search_box">検索</button></div>

	            <nav>
	                <ul class="admin_nav">
	                <li class="admin_nav_list"><%= link_to "商品登録" ,new_product_path %></li>
	                <li class="admin_nav_list"><%= link_to "CM登録" ,new_product_path %></li>
	                <li class="admin_nav_list"><%= link_to "在庫一覧" ,products_path %></li>
	                <li class="admin_nav_list"><%= link_to "在庫一覧" ,products_path %></li>
	                <li class="admin_nav_list"><%= link_to "在庫一覧" ,products_path %></li>
	                <li class="admin_nav_list"><%= link_to "在庫一覧" ,products_path %></li>
	                <li class="admin_nav_list"><%= link_to "在庫一覧" ,products_path %></li>
        			</ul>
        		</nav>

        </div>
    </div>