<div class="toppage">
	<div class="top-cm">
		<div class="slider">
			<div class="cm1"><h2>Live!!!</h2></div>
			<div class="cm2"><h2>ただのメガネ!!!</h2></div>
			<div class="cm3"><h2>猫にメガネ!!!</h2></div>
			<div class="cm4"><h2>マイク!!!</h2></div>
		</div>
	</div>

	<div class="top_products_line">
		<section class="top-new">
			<h2>新商品</h2>
		</section>
		<div class="new-box clearfix">
		<% @newproducts.each do |product| %>
		  	<div class="product-box">
				<%= link_to product_path(product.id) do %>
					<div class="p-image"><%= attachment_image_tag product, :image, fallback: "img/no_image.jpg" %></div>
					<div class="p-stat">
						<p><%= product.product_title %></p>
						<p><%= product.price %>円</p>
                		<div class="star-rating">
						<% @average = Review.where(product_id: product.id).average(:star) %>
                		    <%# 黄色い★ 0.5きざみ %>
                		<% if @average == nil %>
                		    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                		<% elsif @average < 1.5 %>
                		    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                		<% elsif @average < 2 %>
                		    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                		<% elsif @average < 2.5 %>
                		    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                		<% elsif @average < 3 %>
                		    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                		<% elsif @average < 3.5 %>
                		    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                		<% elsif @average < 4 %>
                		    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                		<% elsif @average < 4.5 %>
                		    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                		<% elsif @average < 5 %>
                		    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                		<% else %>
                		    <div class="star-rating-front">★★★★★</div>
                		<% end %>
                		    <%# 黒い★ %>
                		    <div class="star-rating-back">★★★★★</div>
                		</div>
					</div>
				<% end %>
			</div>
		<% end %>

		</div>
	</div>
	<div class="top_products_line">
		<section class="top-new">
			<h2>ランキング</h2>
		</section>
		<div class="new-box clearfix">
			<% sum = 0%>
			<% @products.first(4).each do |prod| %>
				
				<div class="product-box">
					<p>第<%= sum += 1 %>位</p>
					<%= link_to "/products/#{prod.id}" do %>
						<div class="p-image"><%= attachment_image_tag prod, :image, fallback: "img/no_image.jpg" %></div>
						<div class="p-stat">
							<%= prod.product_title %><br>
							<%= prod.price %>円
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="top_products_line">
		<section class="top-new">
			<h2>オススメ！</h2>
		</section>
		<div class="new-box clearfix">
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
			<div class="product-box">
				<a href="product.html">
					<div class="p-image"><img src="/assets/img/cdimage.png" alt="cdimage"></div>
					<div class="p-stat">
						<p>タイトル</p>
						<p>値段</p>
						<p>星</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
