         <div class="body">            
            <div class="main-box">
                <div class="user-info">
                    <h1 class="box-title">ユーザー情報</h1>
                        <div class="user-info-box">
                            <br>
                            <p>名前：<%= @user.name %></p><br>
                            <p>よみがな：<%= @user.kana %></p><br>
                            <p>郵便番号：〒　<%= @user.post_number %></p><br>
                            <p>住所：<%= @user.address %></p><br>
                            <p>電話番号：<%= @user.tell %></p><br>
                            <p>E-Mail：<%= @user.email %></p><br>


                        </div>
                    <div class="button-box">
                    <%= link_to '編集',edit_user_path,class: "center-button"%>
                    </div>
                </div>
                
            <!-- <div class="border-box"></div>
 -->
                <div class="order-history">
                    <h1 class="page-title">購入履歴</h1>
                        <div class="order-box">
                            <div class="order-history-box">
                                <div class="order-show-box">
                                    <a href="http://">
                                        <p class="purchase-date">yyyy/mm/dd</p>
                                        <div class="mini-box">
                                            <div class="item-mini">
                                                <img src="img./mini.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini2.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini3.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini"></div>
                                        </div>
                                        <div class="order-history-list">
                                                <br>
                                                <p>状態：発送済み</p><br>
                                                <p>注文番号：1234567890</p><br>
                                                <p>合計：￥6000</p><br>
                                        </div>
                                    </a>
                                </div>

                                <div class="border-line"></div>
                            
                                <div class="order-show-box">
                                    <a href="http://">
                                        <p class="purchase-date">yyyy/mm/dd</p>
                                        <div class="mini-box">
                                            <div class="item-mini">
                                                <img src="img./mini.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini2.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini3.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini"></div>
                                        </div>
                                        <div class="order-history-list">
                                                <br>
                                                <p>状態：発送済み</p><br>
                                                <p>注文番号：1234567890</p><br>
                                                <p>合計：￥6000</p><br>
                                        </div>
                                    </a>
                                </div>
                                <div class="border-line"></div>

                                <div class="order-show-box">
                                    <a href="http://">
                                        <p class="purchase-date">yyyy/mm/dd</p>
                                        <div class="mini-box">
                                            <div class="item-mini">
                                                <img src="img./mini.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini2.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini3.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini"></div>
                                        </div>
                                        <div class="order-history-list">
                                                <br>
                                                <p>状態：発送済み</p><br>
                                                <p>注文番号：1234567890</p><br>
                                                <p>合計：￥6000</p><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                <div class="button-box">
                    <div class="center-button">more</div>
                </div>
                </div>

                 <!-- <div class="border-box"></div> -->
                
                <!-- <div class="review-history">
                     <h1 class="box-title">コメント履歴</h1>
                    
                    
                <table class="table table-hover table-inverse">
                    
                    <tbody>
                        <tr>
                          <td class="review-td" ><a href="product.html"><img src=img/no_image.jpg  width="190" height="190"></a></td>
                            <td class="review-td" style="word-wrap:break-word;" width="25%">
                                <li>商品名</li>
                            
                                <li>ジャンル</li>
                            
                                <li>レーベル</li>

                                <li>レート</li>

                                <li>価格：￥2160</li>
                            </td>

                            <td class="review-comment-td" width="50%">
                                コメント
                            </td>
                        </tr>
                        <tr>
                          <td class="review-td" ><div class="product-image-user-page"><%= link_to product_path(@product),target: "_blank" do %>
                            <%= attachment_image_tag @product, :image, fallback: 'img/no_image.jpg'  %>
                                <% end %>
                            </div></td>
                            <td class="review-td" style="word-wrap:break-word;" width="25%">
                                <p>商品名:<%= @product.product_title %></p>
                            
                                <li>ジャンル:<%= @product.genre.genre %></li>
                            
                                <li>レーベル:<%= @product.label.label %></li>

                                <li>レート</li>

                                <li>価格：<%= @product.price %>円</li>
                            </td>

                            <td class="review-comment-td" style="word-wrap:break-word;" width="50%">
                                コメント
                            </td>
                        </tr>
                    </tbody>

                </table> 
            <div class="button-box">
                    <div class="center-button">more</div>
                    </div>
                </div>
                <div class="button-box">
                    <div class="center-button">退会</div>
                </div>              
        </div>
    	</div>
 -->