<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
         <div class="body">
                <div class="user-info">
                    <h1 class="box-title">ユーザー情報</h1>
                        <div class="user-info-box">
                            <br>
                            <p>名前：<%= @user.name %></p><br>
                            <p>よみがな：<%= @user.kana %></p><br>
                            <p>郵便番号：〒　<%= @user.post_number %></p><br>
                            <p>住所：<%= @user.address %></p><br>
                            <p>電話番号：<%= @user.tell %></p><br>
                            <p>E-Mail：<%= @user.email %></p><br>


                        </div>
                    <div class="button-box">
                    <%= link_to '編集',edit_user_path,class: "center-button"%>
                    </div>
                </div>
                
            <!-- <div class="border-box"></div>
 -->
                <div class="order-history">
                    <section><h1 class="page-title">購入履歴</h1></section>
                        <div class="order-box">
                            <div class="order-history-box clearfix">
                            
                            <% @orders.first(3).reverse_each do |order| %>
                                <%= link_to user_order_path(@user.id, order.id) do  %>
                                    <div class="order-show-box">
                                        <p class="purchase-date"><%= order.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
                                        <div class="mini-box">
                                            <div class="item-mini">
                                                <img src="img./mini.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini2.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini">
                                                <img src="img./mini3.jpg"  width="65" height="65">
                                            </div>
                                            <div class="item-mini"></div>
                                        </div>
                                        <div class="order-history-list">
                                                <br>
                                                <p>状態：発送済み</p><br>
                                                <p>注文番号：1234567890</p><br>
                                                <p>合計：￥6000</p><br>
                                        </div>
                                    </div>
                                    <div class="border-line"></div>
                                <% end %>
                            <% end %>

                            </div>
                        </div>

                <div class="button-box">
                    <%= link_to user_orders_path(@user.id) do  %>
                        <div class="center-button">more</div>
                    <% end %>
                </div>
            </div>

                <% if @user.id == current_user.id %>
                      <%= link_to "退会はこちら", users_unsubsc_path(@user) %>
                       <% end %>

        </div>