<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
         <div class="body">
                <div class="user-info">
                    <h1 class="box-title">ユーザー情報</h1>
                        <div class="user-info-box">
                            <br>
                            <p>名前：<%= @user.name %></p><br>
                            <p>よみがな：<%= @user.kana %></p><br>
                            <p>郵便番号：〒　<%= @user.post_number %></p><br>
                            <p>住所：<%= @user.address %></p><br>
                            <p>電話番号：<%= @user.tell %></p><br>
                            <p>E-Mail：<%= @user.email %></p><br>


                        </div>
                    <div class="button-box">
                    <%= link_to '編集',edit_user_path,class: "center-button"%>
                    </div>
                </div>
                
            <!-- <div class="border-box"></div>
 -->
                <div class="order-history">
                    <section><h1 class="page-title">購入履歴</h1></section>
                        <div class="order-box">
                            <div class="order-history-box clearfix">
                            
                            <% @orders.last(3).reverse_each do |order| %>
                                <%= link_to user_order_path(@user.id, order.id) do  %>
                                    <div class="order-show-box">
                                        <p class="purchase-date"><%= order.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
                                        <div class="mini-box">
                                            <% order.order_products.first(3).each do |item| %>
                                                <div class="item-mini">
                                                    <%= attachment_image_tag item.product, :image, fallback: "img/no_image.jpg" %>
                                                </div>
                                            <% end %>
                                                <div class="item-mini"></div>
                                        </div>
                                        <div class="order-history-list">
                                                <br>
                                                <p>注文番号：<%= order.id %></p><br>
                                                <p>合計：<%= order.order_price %></p><br>
                                        </div>
                                    </div>
                                    <div class="border-line"></div>
                                <% end %>
                            <% end %>

                            </div>
                        </div>

                <div class="button-box">
                    <%= link_to user_orders_path(@user.id) do  %>
                        <div class="center-button">more</div>
                    <% end %>
                </div>
            </div>
            <!-- 投稿したレビュー一覧 -->
<div class="other_review">
            <section>
                <h2>投稿したレビューの一覧</h2>
            </section>
    

            <% @reviews.each do |r| %>
            <div class="star-rating">
                <%# 黄色い★ %>
                <% if r.star == 5 %>
                <div class="star-rating-front">★★★★★</div>
                <% elsif r.star == 4 %>
                <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif r.star == 3 %>
                <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif r.star == 2 %>
                <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% else %>
                <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% end %>
                <%# 黒い★ %>
                <div class="star-rating-back">★★★★★</div>
            </div>
                <% if r.user == current_user %>
                    <%= link_to "編集する", edit_product_review_path(r.product_id,r) %>
                    <%= link_to "投稿を削除する", product_review_path(r.product_id,r), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                <% end %>
            <div class="post-review">
                <h3>商品名 <%= Product.find(r.product_id).product_title %></h3>
                <h3>レビュータイトル<%= r.review_title %></h3>
                <p><%= simple_format(r.review_message) %></p>
            </div>
            <% end %>
        </div>
        <% if @user.id == current_user.id %>
                      <%= link_to "退会はこちら", users_unsubsc_path(@user) %>
                       <% end %>

        </div>