<body>

            <div class="main-box">
                    <div class="oder-cart-box">
                        <h1 class="box-title">カート</h1>
                        <div class="settlement-cart">
                            <table>
                                <thead>
                                  <tr>
                                      <th></th>
                                      <th class="settlement-th">商品</th>
                                      <th>アーティスト</th>
                                      <th>数量</th>
                                      <th>価格</th>
                                   </tr>
                                </thead>
                                <% sum = 0 %>
                                <% product_sum = 0 %>
                                <% @carts.each do |cart| %>
                                <% sub_total = cart.product.price.to_i * cart.quantity.to_i %>
                                        
                                        <% sum += sub_total %>
                                        <% product_sum += cart.quantity.to_i%>
                                        
                                <tbody>
                                    <tr>
                                      <td class="settlement-td"><%= attachment_image_tag cart.product, :image, fallback: "img/no_image.jpg" %></td>    
                                        <td class="settlement-td">
                                           <%= cart.product.product_title %>
                                        </td><% @discs = cart.product.discs %>
                                    <% @artists = @discs.joins(:tracks).pluck(:artist_name).uniq %>

                                        <td class="settlement-td"><%= @artists %></td>
                                        <td class="settlement-td"><%= cart.quantity %>点</td>
                                        
                                        <td class="settlement-td">￥<%= cart.product.price %></td>
                                    </tr>
                                    
                                    <% end %>
                                </tbody>
                                
                                    <tr>
                                        <td class="cart-td"></td>    
                                        <td class="cart-td"></td>
                                        <td class="settlement-td"></td>
                                        <td class="settlement-td"><%= product_sum %>点</td>
                                        <td class="cart-td">
                                            <p>小計￥<%= sum %></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="addressee-payment-box">
                    <div class="Addressee-last">
                        <h1 class="box-title-last">お届け先</h1>
                            <div class="Addressee-inbox">
                        		<%= form_for @order ,url:user_orders_path(@user),method: :post do |o| %>
				                <%= o.hidden_field :user_id, :value => @user.id %>
				                <p>郵便番号</p>
				                <%= o.text_field :post_num %>
				                <p>送り先住所</p>
				                <%= o.text_area :address,rows: 5, cols: 50 %>
				                <%= o.submit "登録" %>
                               <!--  <br>
                                <p class="address-text">郵便番号</p><br>
                                	<p>〒<%= @order.post_num %></p><br>
                                <p class="address-text" style="word-wrap:break-word;">住所</p><br>
                                <p><%= @order.address %></p><br> -->
                            </div>
                    </div>

                    <div class="payment-info">
                        <h1 class="box-title-last">お支払い</h1>
                            <div class="payment-info-box">
                                <br>

                                <% sum = 0 %>
				                <% @carts.each do |cart| %>
				                    <% sub_total = cart.product.price.to_i * cart.quantity.to_i %>
				                     <% sub_total %>

				                     <% sum += sub_total %>
				                 <% end %>
				                
				                <%= @sum %>
				                <%= o.hidden_field :order_price, :value => @sum %>
				                <% end %>

                              	<p>小計：¥<%= sum %></p><br>
                                <p>手数料：¥500</p><br>
                                <p>合計：¥<%= sum + 500 %></p><br>
                            </div>
                    </div>
                </div>

                <div class="button-box">
                    <a ><%= link_to "注文する", root_path ,method: :post ,class: "center-button" %></a></div>
                </div>
            </div>
