		

		<%= form_for @order ,url:user_orders_path(@user)  do |o| %>
                <%= o.hidden_field :user_id, :value => @user.id %>
                <p>郵便番号</p>
                <%= o.text_field :post_num %>
                <p>送り先住所</p>
                <%= o.text_area :address,rows: 5, cols: 50 %>

               <% sum = 0 %>
                <% @cart.each do |cart| %>
                    <% sub_total = cart.product.price.to_i * cart.quantity.to_i %>
                     <% sub_total %>

                     <% sum += sub_total %>
                 <% end %>
                <% @sum = sum + 500 %>
                <%= @sum %>
                <%= o.hidden_field :order_price, :value => @sum %>
                <%= o.submit "登録" %>
         <% end %>

