			<%= form_for(@order) do |o| %>
                <%= o.hidden_field :user_id, :value => @user.id %>
                <%= o.hidden_field :product_id, :value => @product.id %>
                <%= o.hidden_field :sub_total,:value => @product.price  %>
                <%= o.label :quantity,"数量" %>
                <%= o.number_field :quantity %>
                <%= o.submit "カートに入れる" %>
                <% end %>
			<label>名前</label><br>
			<p><%= @user.name%></p><br>
				>
			
			<label>よみがな</label>
			<p><%= @user.kana %></p><br>
			
			<label>郵便番号</label>
			<p><%= @user.post_number %>
			
			<label>住所</label>
			<p><%= @user.address %></p><br>
			
			<label>電話番号</label>
			<p><%= @user.tell %></p><br>