<div class="admin_back_to_menu"><%= link_to "管理者メニュー画面へ", admintops_top_path %></div>
    <div class="contact_base">
        <div class="open_contacts">
            <h1 class="box-title">未対応</h1>
                <table border="1">
                    <tr>
                        <th class="th_contact_user">ユーザー名</th>
                        <th class="th_contact_category">カテゴリー</th>
                        <th class="th_contact_date" >問い合わせ日時</th>
                        <th class="th_contact_text">問い合わせ内容</th>
                        <th class="th_contact_view">詳細を開く</th>
                    </tr>
                <% @contact.each do |cont| %>
                    <tr>
                        <td class="th_contact_user"><%= cont.user.name %>
                        
                        </td>
                        <td class="th_contact_category"><%= cont.category %>
                        </td>
                        <td class="th_contact_date"><%= cont.created_at.strftime("%Y/%m/%d %H時%M分") %></td>
                        <td class="th_contact_text" style="word-wrap:break-word;"><%= cont.message %></td>
                        <td class="th_contact_view"><%= link_to 'show', edit_contact_path(cont.id)%></td>
                        <% end %>
                    

                    </tr>
                
                
                </table>
                    <div class="kaminarin_no_div">
                        <%= paginate @contact, class: "pagenate" %>
                    </div>
        </div>
            <div class="processing_contacts">
                <h1 class="box-title">対応中</h1>
                <table border="1">
                    <tr>
                        <th class="th_contact_user">ユーザー名</th>
                        <th class="th_contact_category">カテゴリー</th>
                        <th class="th_contact_date">問い合わせ日時</th>
                        <th class="th_contact_text">内容</th>
                        <th class="th_contact_view">詳細を開く</th>
                    </tr>
                    <% @contacts.each do |cont| %>
                    <tr>
                        <td class="th_contact_user"><%= cont.user.name%></td>
                        <td class="th_contact_category"><%= cont.category %></td>
                        <td class="th_contact_date"><%= cont.created_at.strftime("%Y/%m/%d %H時%M分") %></td>
                        <td class="th_contact_text" style="word-wrap:break-word;"><%= cont.message %></td>
                        <td class="th_contact_view"><%= link_to 'show', edit_contact_path(cont) %></td>
                    </tr>
                <% end %>

                </table>
                    <div class="kaminarin_no_div">
                        <%= paginate @contacts, class: "pagenate" %>
                    </div>
            </div>
    <%= link_to '対応済みお問い合わせ', contacts_finished_path %>
    </div>