<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>	
	<div class="contact_base">
		<div class="open_contacts">
			<h1 class="page-title">問い合わせ詳細</h1>
                <table class="contact_show" border="1">
                    <tr>
                        <th class="th_contact_show">カラム</th>
                        <th class="th_contact_show_content">内容</th>
                    </tr>
                     <tr>

	                    	<td class="td_contact_show">ユーザー名</td>
	                    	<td class="td_contact_show_content">test</td>
	                    </tr>
	                    <tr>
	                    	<td class="td_contact_show">問い合わせ日時</td>
	                    	<td class="td_contact_show_content"><%= @contact.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
	                    </tr>
	                    <tr>
	                    	<td class="td_contact_show">カテゴリー</td>
	                    	<td class="td_contact_show_content"><%= @contact.category %></td>
	                    </tr> 
	                    <tr>
	                    	<td class="td_contact_show">問い合わせ内容</td>
	                    	<td class="td_contact_show_content" style="word-wrap:break-word;"><%=@contact.message %></td>
	                    </tr> 

	                <%= form_for @contact, url: contact_path(@contact.id) do |c| %>
	                    <tr>
	                    	<td class="td_contact_show">管理人テキスト</td>
	                    	<td class="td_contact_show_content" style="word-wrap:break-word;"><%= c.text_area :admin_comment, rows: 10, cols: 100 %> </td>
	                    </tr> 
	                    <tr>
	                    	<td class="td_contact_show">状況</td>
	                    	<td class="td_contact_show_content"><%= c.select :status, [["未対応", "未対応"],["対応中","対応中"],["対応済み","対応済み"]], class: "contact-select" %></td>
	                    </tr> 
        		</table>
        	<%= c.submit '更新する', class: 'center-button' %>
        	<% end %>       
        </div>
    </div>
</body>
</html>
