
<body>
    	
        
        <div class="body">
            <h1 class="page-title"> shopping cart</h1>
            <div class="main-box">
                <div class= "item-box">
                    <table class="cart-table">
                        <thead>
                          <tr>
                              <th class="cart-th"></th>
                              <th class="cart-th">商品</th>
                              <th class="cart-th">価格/数量</th>
                           </tr>
                        </thead>

                        <% sum = 0 %>
                        <% products_sum = 0 %>
                        <% @cart.each do |cart| %>
                        
                        <tbody>
                            <tr>
                              <td class="cart-td"><%= attachment_image_tag cart.product, :image, fallback: "img/no_image.jpg" %></div></td>
                                <td class="cart-td" style="word-wrap:break-word;">
                                    <li>title : <%= cart.product.product_title %></li><br>
                                        
                                        
                                    <% @discs = cart.product.discs %>
                                    <% @artists = @discs.joins(:tracks).pluck(:artist_name).uniq %>
                                    <li>artist : <%= @artists %> </li><br>
                                   
                                    <li>在庫　<%= cart.product.stock %> </li><br>
                                </td>
                                
                                <td class="cart-td">
                                    <p>価格：<%= cart.product.price %>円</p><br>
                                    
                                    <%= form_for cart, url:cart_path(@user,cart) do |c| %>
            

                                    <p><label for="number-field">個数</label>
                                        <!-- <input  class="quantity" type="number" name="number" id="number-field" min="1" max="99" value="1">個 --><%= c.number_field :quantity %></p><br> 
                                   
                                    <p><%= link_to  '削除',cart_path(@user, cart), method: :delete, class:"delete-button" %></p>

                                    <p><%= c.submit '変更',method: :patch, class:"cart-edit-button" %></p>


                                </td>
                                <% end %>
                            </tr>
                            <tr>
                                        <% sub_total = cart.product.price.to_i * cart.quantity.to_i %>
                                        <% sub_total %>
                                        <% sum += sub_total %>
                                        <% products_sum += cart.quantity.to_i %>
                                <% end %>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td class="cart-td">
                              
                                    合計 <%= products_sum %>点￥<%= sum %>
                                </td>
                            </tr>
                        </tbody>
                    </table> 



                    
               
                
            </div>
                
                    
            <div class="button-box">
                <button class="left-button" ><a href="top.html">買い物を続ける</a></button>
                <button class="right-button"><a href="address.html">決済へ進む</a></button>
            </div>
            </div>
        </div>
    	
        
    </body>
