<div class="track_touroku clearfix">
	<%= nested_form_for([@product,@disc]) do |f| %>

		<div class="track_fields">
			<%= f.fields_for :tracks do |track_f| %>
				<div class="track_number_box">
			    	<%= track_f.label :track_number,"トラックナンバー" %>
			    	<%= track_f.number_field :track_number %>
				</div>
				<div class="track_name_box">
			    	<%= track_f.label :track_title,"曲名",class: "track_name" %><br>
			    	<%= track_f.text_field :track_title,class: "track_name" %><br>
			    	<%= track_f.label :track_title_kana,"曲名かな",class: "track_name" %><br>
			    	<%= track_f.text_field :track_title_kana,class: "track_name" %>
				</div>
				<div class="artist_name_box">
			    	<%= track_f.label :artist_name,"アーティスト名",class: "artist_name" %><br>
			    	<%= track_f.text_field :artist_name,class: "artist_name" %><br>
			    	<%= track_f.label :artist_name_kana,"アーティスト名かな",class: "artist_name" %><br>
			    	<%= track_f.text_field :artist_name_kana,class: "artist_name" %>
				</div>
				<%= track_f.link_to_remove "Remove this" %>
			<% end %>
		<%= f.link_to_add "Addtrack", :tracks %>
		<%= f.submit "登録",class: "submit" %>
		</div>
	<% end %>
</div>