<div class="product_stock_base">
        <%= link_to "管理者メニュー画面へ", admintops_top_path %>
        <div class="stock_table">
            <table border="1">
                <tr>
                    <th class="t_product_stock_id">商品ID</th>
                    <th class="t_product_stock_name">商品名</th>
                    <th class="t_product_stock_stock">在庫</th>
                    <th class="t_product_stock_sell">売上数</th>
                    <th class="t_product_stock_e_d">編集削除</th>
                </tr>
                <% @product.each do |product| %>
                <tr>
                    <td class="t_product_stock_id"><%= product.id %></td>
                    <td class="t_product_stock_name"><%= link_to product.product_title, product_path(product) %></td>
                    <td class="t_product_stock_stock"><%= product.stock %></td>
                    <td class="t_product_stock_sell">777</td>
                    <td class="t_product_stock_e_d">
                        <%= link_to "編集", edit_product_path(product) %>
                        <%= link_to "削除", destroy_product_path(product) ,method: :delete %>

                    </td>
                </tr>
               <% end %>
            </table>
        </div>
        <p class="p_s_pagi">＜　　page　　＞</p>
    </div>