<div class="product-show-box clearfix">
    <div class="p-inbc">
        <section class="p-title">
            <h2>商品詳細</h2>
        </section>

        <div class="product-image"><%= attachment_image_tag @product, :image, fallback: "img/no_image.jpg" %></div>

        <div class="p-nb">
            <div class="product-name">
                <h1><%= @product.product_title %></h1>
                <h3>歌手名</h3>
                <div class="star-rating">
                    <%# 黄色い★ %>
                <% if @average == nil %>
                    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                <% elsif @average < 1.5 %>
                    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% elsif @average < 2 %>
                    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                <% elsif @average < 2.5 %>
                    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% elsif @average < 3 %>
                    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <% elsif @average < 3.5 %>
                    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif @average < 4 %>
                    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                <% elsif @average < 4.5 %>
                    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif @average < 5 %>
                    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            <div class="benefit">
				<% if @product.stock < 1 %>
					<p>現在品切れ中</p>
				<% elsif @product.stock < 10 %>
					<p>在庫残りわずか</p>
				<% else %>
					<p>在庫あり</p>
				<% end %>
            </div>
        </div>
        <div class="cart-box">
            <div class="cart_error_message">
                えらー　現在品切れ中
            </div>
            <div class="cart_buy">
				<h3><%= @product.price %>円</h3>
                <p>数量</p><input type="number" value="1" min="1" max="100"><p>個</p>
                <button class="add_cart_button"><a href="cart.html">カートへ入れる</a></button>
            </div>
        </div>
    </div>
    <div class="p-stat">
        <section class="p-title">
            <h2>商品情報</h2>
        </section>
        <div class="p-info">
            <table>
                <tbody>
                    <tr>
                        <td>発売日</td>
                        <td><%= @product.release_date %></td>
                    </tr>
					<tr>
                        <td>ジャンル</td>
                        <td><%= @product.genre.genre %></td>
                    </tr>
                    <tr>
                        <td>レーベル</td>
                        <td><%= @product.label.label %></td>
                    </tr>
                    <tr>
                        <td>規格品番</td>
                        <td><%= @product.item_number %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="p-music">
        <section class="p-title">
            <h2>曲目一覧</h2>
        </section>
        <div class="p-music-table clearfix">
            <div class="discs_and_tracks">
                
                <table>
                    <% @disc.each do |disc| %>
                        <h3>Disc<%= disc.disc_number %></h3>
                        <tbody>
                            <% disc.tracks.each do |track| %>
                                <tr>
                                    <td><%= track.track_number %></td>
                                    <td><%= track.track_title %></td>
                                    <td><%= track.artist_name %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    <% end %>
                </table>

            </div>
        </div>
    </div>
    <div class="p-review-box">
        <div class="my_review">
            <section class="p-title">
                <h2>レビューを投稿する</h2>
            </section>
            <%= form_for([@product, @review]) do |myr| %>  
                <div class="evaluation">
                    <%= myr.radio_button :star, "5" %>
                    <label for="review_star_5"><span class="text">最高</span>★</label>
                    <%= myr.radio_button :star, "4" %>
                    <label for="review_star_4"><span class="text">良い</span>★</label>
                    <%= myr.radio_button :star, "3" %>
                    <label for="review_star_3"><span class="text">普通</span>★</label>
                    <%= myr.radio_button :star, "2" %>
                    <label for="review_star_2"><span class="text">悪い</span>★</label>
                    <%= myr.radio_button :star, "1" %>
                    <label for="review_star_1"><span class="text">最悪</span>★</label>
                </div>
                <div class="post-review">
                    <%= myr.text_field :review_title, placeholder: "タイトルを入力" %><br>
                    <%= myr.text_area :review_message, placeholder: "感想を入力できます" %>
                    <button type="submit">投稿する</button>
                </div>
            <% end %>
        </div>

        <div class="other_review">
            <section class="p-title">
                <h2>レビューの一覧</h2>
            </section>

            <% @reviews.each do |r| %>
            <div class="star-rating">
                <%# 黄色い★ %>
                <% if r.star == 5 %>
                <div class="star-rating-front">★★★★★</div>
                <% elsif r.star == 4 %>
                <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif r.star == 3 %>
                <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif r.star == 2 %>
                <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% else %>
                <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% end %>
                <%# 黒い★ %>
                <div class="star-rating-back">★★★★★</div>
            </div>
                <% if r.user == current_user %>
                    <%= link_to "編集する", edit_product_review_path(r.product_id,r) %>
                    <%= link_to "投稿を削除する", product_review_path(r.product_id,r), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                <% end %>
            <div class="post-review">
                <h3><%= r.review_title %></h3>
                <p><%= simple_format(r.review_message) %></p>
            </div>
            <% end %>
        </div>

    </div>

</div>