<div class="admin_back_to_menu"><%= link_to "管理者メニュー画面へ", admintops_top_path %></div>
<div class="product_stock_base">
    <div class="stock_table">
        <table border="1">
            <tr>
                <th class="t_product_stock_id">商品ID</th>
                <th class="t_product_stock_name">商品名</th>
                <th class="t_product_stock_stock">在庫</th>
                <th class="t_product_stock_sell">売上数</th>
            </tr>
            <% @products.each do |product| %>
            <tr>
                <td class="t_product_stock_id"><%= product.id %></td>
                <td class="t_product_stock_name"><%= link_to product.product_title, edit_product_path(product) %></td>
                <td class="t_product_stock_stock"><%= product.stock %></td>
                <td class="t_product_stock_sell">777</td>
            </tr>
           <% end %>
        </table>
    </div>
		<div class="kaminarin_no_div">
			<%= paginate @products, class: "pagenate" %>
		</div>
</div>