<div class="sign_up_base">
  <h1>会員登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <label>名前（姓名）</label><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "kana" %>
    </div>

    <div class="field">
      <label>名前(カナ)</label><br />
      <%= f.text_field :kana, autocomplete: "name" %>
    </div>

    <div class="field">
      <label>emailアドレス</label><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <label>パスワード</label>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <label>パスワード（もう一度）</label><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <label>電話番号</label><br />
      <%= f.text_field :tell, autocomplete: "tell" %>
    </div>
    <div class="field">
      <label>郵便番号</label><br />
      <%= f.text_field :post_number, autocomplete: "off" %>
    </div>
    <div class="field">
      <label>住所</label><br />
      <%= f.text_field :address, autocomplete: "off" %>
    </div>

    <%# 本当はdeviseのuserモデルにdestinatonモデルをネストして一度に登録したい %>
    <%# が、deviseのコントローラのいじり方がさっぱり分からないので会員登録ボタンを押すと %>
    <%# 住所登録にredirectするようにします。無念 %>
    
    <div class="field">
      <label>好きなメガネアーティスト</label><br>
      <textarea placeholder="空欄でもOK"></textarea>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>